@use './variables' as *;
@use './mixins' as *;

// リセット
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --neutral-color-700: #{$neutral-color--700};
    --neutral-color-600: #{$neutral-color--600};
    --neutral-color-500: #{$neutral-color--500};
    --neutral-color-400: #{$neutral-color--400};
    --neutral-color-300: #{$neutral-color--300};
    --neutral-color-200: #{$neutral-color--200};
    --neutral-color-100: #{$neutral-color--100};

    --accent-color-700: #{$accent-color--700};
    --accent-color-600: #{$accent-color--600};
    --accent-color-500: #{$accent-color--500};
    --accent-color-400: #{$accent-color--400};
    --accent-color-300: #{$accent-color--300};
    --accent-color-200: #{$accent-color--200};
    --accent-color-100: #{$accent-color--100};
}

// base
body {
    font-family: $font-normal;
    background-color: #FFF;
    color: var(--neutral-color-700);
    a {
        text-decoration: underline;
        color: var(--accent-color-100);
    }
    .night & {
        background-color: var(--neutral-color-700);
        color: var(--neutral-color-100);
    }
}

// spacing
.padding-sm {
    padding: $spacing-sm;
}
.padding-md {
    padding: $spacing-md;
}
.padding-lg {
    padding: $spacing-lg;
}
.padding-md-lg {
    padding: $spacing-md $spacing-lg;
}
.padding-sm-lg {
    padding: $spacing-sm $spacing-lg;
}
.padding-sm-md {
    padding: $spacing-sm $spacing-md;
}
.padding-md-sm {
    padding: $spacing-md $spacing-sm;
}
.padding-md-xxl {
    padding: $spacing-md $spacing-xxl;
}
.padding-lg-sm {
    padding: $spacing-lg $spacing-sm;
}
.padding-lg-md {    
    padding: $spacing-lg $spacing-md;
}
.padding-xs-md {
    padding: $spacing-xs $spacing-md;
}
.padding-xs-lg {
    padding: $spacing-xs $spacing-lg;
}
.padding-xxs-sm {
    padding: $spacing-xxs $spacing-sm;
}
.padding-xs-sm {
    padding: $spacing-xs $spacing-sm;
}

.stack-xs > *:not(:last-child) {
        margin-bottom: $spacing-xs;
    }

.stack-sm > *:not(:last-child) {
        margin-bottom: $spacing-sm;
    }

.stack-md > *:not(:last-child) {
        margin-bottom: $spacing-md;
    }

.stack-lg > *:not(:last-child) {
        margin-bottom: $spacing-lg;
    }


.inline-xs > *:not(:last-child) {
        margin-right: $spacing-xs;
    }

.inline-sm > *:not(:last-child) {
        margin-right: $spacing-sm;
    }

.inline-md > *:not(:last-child) {
        margin-right: $spacing-md;
    }

.inline-lg > *:not(:last-child) {
        margin-right: $spacing-lg;
    }


//  color
.bg-color-primary {
    background-color: #FFF;
    .night & {
        background-color: var(--neutral-color-700);
    }
}

.bg-color-secondary {
    background-color: var(--neutral-color-100);
    .night & {
        background-color: var(--neutral-color-400);
    }
}

.text-color-primary {
    color: var(--neutral-color-700);
    .night & {
        color: var(--neutral-color-100);
    }
}

.text-color-secondary {
    color: var(--neutral-color-500);
    .night & {
        color: var(--neutral-color-200);
    }
}

.icon-color-primary {
    fill: var(--neutral-color-700);
    .night & {
        fill: var(--neutral-color-100);
    }
}

.icon-color-secondary {
    fill: var(--neutral-color-500);
    .night & {
        fill: var(--neutral-color-200);
    }
}

.text-color-accent {
    color: var(--accent-color-100);
}

.button-primary {
    background-color: var(--accent-color-400);
    color: #FFF;
    border-radius: $radius-full;
    &:hover {
        background-color: var(--accent-color-300);
    }
    &:active {
        background-color: var(--neutral-color-400);
    }
    .night & {
        background-color: var(--accent-color-300);
        color: #FFF;
        &:hover {
            background-color: var(--accent-color-200);
        }
        &:active {
            background-color: var(--neutral-color-400);
        }
    }
}

.button-secondary {
    background-color: var(--neutral-color-400);
    color: #FFF;
    border-radius: $radius-sm;
    &:hover {
        background-color: var(--neutral-color-300);
    }
    &:active {
        background-color: var(--neutral-color-500);
    }
    .night & {
        background-color: var(--neutral-color-300);
        color: #FFF;
        &:hover {
            background-color: var(--neutral-color-200);
        }
        :active {
            background-color: var(--neutral-color-500);
        }
    }
}

.separate-line {
    border-top: 1px solid var(--neutral-color-200);
    width: 100%;
    height: 1px;
    .night & {
        border-top: 1px solid var(--neutral-color-400);
    }
}

.content-radius {
    border-radius: $radius-md;
}

.media-radius {
    border-radius: $radius-sm;
}

.custom-icon {
    width: $user-icon-size;
    height: $user-icon-size;
    border-radius: $radius-full;
    border: 2px solid #FFF;
    .night & {
        border: 2px solid var(--neutral-color-700);
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: $radius-full;
    }
    &__wrapper {
        position: relative;
        width: $user-icon-size;
        height: $user-icon-size;
    }
    &__sub-icon {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

