@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.password-setting {
    width: 100%;
    height: auto;
    padding: $spacing-xxl 0;
    &__wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-md;
        padding: 0  $spacing-md;
    }
}