@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.password-box {
    width: 100%;
    height: auto;
    &__container {
        width: 100%;
        height: auto;
        padding: $spacing-sm $spacing-md;
        border-radius: $radius-sm;
        border: 1px solid var(--neutral-color-300);
        margin-bottom: $spacing-sm;
        &:focus-within {
            border: 1px solid var(--accent-color-100);
            outline: 1px solid var(--accent-color-100);
        }
    }
    &__label {
        font: $font-500_medium_sm;
        color: var(--accent-color-100);
        margin-bottom: $spacing-xs;
    }
    &__inner-container {
        width: 100%;
        display: flex;
        gap: $spacing-sm;
        align-items: center;
        justify-content: stretch;
    }
    &__text-box {
        flex: 1 1 auto;
        outline: none;
        font: $font-400_regular;
        color: var(--neutral-color-700);
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
        &::placeholder {
            font: $font-400_regular;
            color: var(--neutral-color-500);
        }
        .night & {
            color: var(--neutral-color-100);
            &::placeholder {
                color: var(--neutral-color-200);
            }
        }
    }
    &__button {
        width: $icon-md;
        height: $icon-md;
        flex: 0 0 auto;
    }
}