@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.reply-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    &__icon-wrapper {
        position: relative;
        width: $icon-lg;
        height: $icon-lg;
        flex-shrink: 0;
    }
    &__icon {
        position: absolute;
        width: $icon-lg;
        height: $icon-lg;
        .custom-icon {
            width: 100%;
            height: 100%;
            border: none;
        }

        .custom-icon__sub-icon {
            right: -2px;
            bottom: -2px;
        }
    }
    &__text {
        flex: 1;
        display: flex;
        align-items: center;
        padding: $spacing-xs $spacing-md;
        border-radius: $radius-full;
        font: $font-400_regular;
    }
}