@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.room-utility-container {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0;
}