@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.pull-down-arrow {
    width: $icon-md;
    height: $icon-md;
    background: none;
    border: none;
    padding: 0;
    flex-shrink: 0;
    cursor: pointer;
}