@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.edit-room-banner {
    position: relative;
    width: 100%;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__button {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}