@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.media-embed-form {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    &__container {
        width: 100%;
        @include flex-center;
        flex-direction: column;
    }
    &__title {
        display: inline-flex;
        align-items: center;
        width: auto;
        font: $font-500_medium;
    }
    &__icon {
        width: $font-size-base;
        height: $font-size-base;
    }
    &__text-area {
        width: 100%;
        height: auto;
        font: $font-400_regular;
        border: 1px solid var(--neutral-color-300);
        border-radius: $radius-sm;
        cursor: text;
        &:focus {
            outline: 1px solid var(--accent-color-100);
            box-shadow: none;
            border: 1px solid var(--accent-color-100);
        }
        &::placeholder {
            font: $font-400_regular;
            color: var(--neutral-color-500);
        }
        .night & {
            &::placeholder {
                color: var(--neutral-color-200)
            }
        }
    }
}