@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.room-edit-button {
    position: relative;
    width: $icon-lg;
    height: $icon-lg;
    border: none;
    border-radius: $radius-full;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--neutral-color-100);
        border-radius: $radius-full;
        mix-blend-mode: multiply;
        &:hover {
            filter:brightness(1.2);
            transition: filter 0.15s ease;
        }
        &:active {
            filter:brightness(0.8);
        }
    }
    &__icon {
        position: relative;
        fill: var(--neutral-color-200);
    }
}