@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.feed {
    position: relative;
    display: 100%;
    &__sticky {
        position: sticky;
        top: 0;
        z-index: 10;
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
    @media screen and (min-width: 800px) {
        padding-top: $spacing-lg;
    }
}