@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.post-meda-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}