@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.topic-box {
    width: 100%;
    height: auto;
    &__input-area-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        width: 100%;
        font: $font-300_light;
        text-align: center;
        @include flex-center;
    }
    &__info {
        width: 100%;
        @include flex-center;
        font: $font-400_regular_sm;
    }
    &__input-area {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        border-radius: $radius-md;
        border: 1px solid var(--neutral-color-300);
        &:focus-within {
            border: 1px solid var(--accent-color-100);
            outline: 1px solid var(--accent-color-100);
        }
    }
    &__text {
        width: 100%;
        height: auto;
        font: $font-400_regular;
        white-space: pre-wrap;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        color: var(--neutral-color-700);
        .night & {
            color: var(--neutral-color-100);
        }
        &::placeholder {
            color: var(--neutral-color-500);
        }
    }
    &__count {
        position: absolute;
        bottom: $spacing-md;
        right: $spacing-lg;
        font: $font-400_regular_sm;
        display: inline-block;
        z-index: 5;
        &::before {
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 130%;
            height: 130%;
            border-radius: $radius-full;
            background-color: var(--neutral-color-100);
            opacity: 1;
            z-index: -1;
        }
        .night &::before {
            background-color: var(--neutral-color-500);
        }
    }
    &__error {
        position: absolute;
        bottom: 72px;
        left: $spacing-lg;
        font: $font-400_regular_sm;
        color: $color-warning--500;
    }
    &__whisper {
        width: 100%;
        height: auto;
        @include flex-center;
        border-radius: $radius-full;
        color: #FFF;
        font: $font-600_semi-bold;
        transition: background-color 0.15s ease;
        background-color: var(--neutral-color-400);
        &:hover {
            filter: brightness(1.2);
        }
        &:active {
            filter: brightness(0.8);
        }
        .night & {
            background-color: var(--accent-color-300);
        }
        &:disabled {
            background-color: var(--neutral-color-400);
            cursor: not-allowed;
            &:hover {
                filter: none;
            }
            &:active {
                filter: none;
            }
        }
    }
}