@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.setting-top-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__title {
        font: $font-600_semi-bold;
    }
}