@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.topic-content {
    width: 100%;
    height: auto;
    border-radius: $radius-md;
    display: flex;
    flex-direction: column;
    &__text {
        font: $font-300_light;
        white-space: pre-wrap;
        > a {
            color: var(--accent-color-100);
        }
        .night & > a {
            color: var(--accent-color-500);
        }
    }
}