@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.head-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__side-menu {
        width: $icon-lg;
        height: $icon-lg;
        border-radius: $radius-full;
        flex-shrink: 0;
        border: none;
        background: none;
        cursor: pointer;
        &:hover {
            background-color: var(--neutral-color-100);
            transition: background-color 0.15s ease;
        }
        &:active {
            background-color: var(--neutral-color-200);
        }
        .night & {
            &:hover {
                background-color: var(--neutral-color-600);
                transition: background-color 0.15s ease;
            }
            &:active {
                background-color: var(--neutral-color-500); 
            }
        }
    }
    &__reload {
        width: $icon-lg;
        height: $icon-lg;
        border-radius: $radius-full;
        flex-shrink: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    &__search {
        width: $icon-lg;
        height: $icon-lg;
        border-radius: $radius-full;
        flex-shrink: 0;
        border: none;
        background: none;
        cursor: pointer;
        &:hover {
            background-color: var(--neutral-color-100);
            transition: background-color 0.15s ease;
        }
        &:active {
            background-color: var(--neutral-color-200);
        }
        .night & {
            &:hover {
                background-color: var(--neutral-color-600);
                transition: background-color 0.15s ease;
            }
            &:active {
                background-color: var(--neutral-color-500); 
            }
        }
    }
}